# Unreal engine folders
/Binaries/*/*.pdb
/Binaries/*/*Debug*
/Intermediate
/Saved
/Content/StarterContent
/Content/AnimStarterPack

# Visual studio files 
Galdrar.opensdf
Galdrar.sdf
Galdrar.sln
Galdrar.v12.suo